body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: rgb(165, 235, 238);
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
  }
  
  nav li {
    margin-right: 20px;
  }
  
  nav a {
    color: rgb(92, 167, 202);
    text-decoration: none;
  }
  
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
  }
  
  .col-md-8 {
    flex: 8;
  }
  
  .col-md-4 {
    flex: 4;
  }
  
  img {
    width: 100%;
    height: auto;
  }
  
  footer {
    background-color: rgb(165, 235, 238);
    color: #fff;
    padding: 10px;
    text-align: center;
    clear: both;
  }